/* main */
*{margin:0;padding:0;}
body{font: 14px Arial}
input{padding:2px;font-size:14px;}
/* common */
.span4{display:inline-block;width:24%;margin-right:1%;vertical-align:top;}
.span3{display:inline-block;width:32%;margin-right:1%;vertical-align:top;}
.span2{display:inline-block;width:49%;margin-right:1%;vertical-align:top;}
.span4:last-child, .span3:last-child, .span2:last-child{margin-right:0;}
.full{width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}

.button{display:inline-block;text-decoration:none;border:none;padding:10px;text-align:center;cursor:pointer;margin-bottom:15px;line-height: 16px;}
.button.small{padding:5px;}
.tab{display:inline-block;border:1px solid black;}
.tab.active{border-bottom:none;}
.big{font-size:18px;padding:6px;}
.middle{padding:6px;}
.nav-tabs{border-bottom:1px solid #000;list-style:none;margin:16px 0 10px;height:34px;}
.nav-tabs:after{content:"";clear:both;}
.nav-tabs li{float:left;line-height:20px;padding:6px 8px;border:1px solid transparent;cursor:pointer;}
.nav-tabs .active{border:1px solid #000;border-bottom:1px solid white;padding-bottom:7px;}
.list{height:40px;border-bottom:1px dotted #CCC;padding-left:10px; margin-bottom:10px}

/*---*/
.header{
position:fixed;
top:0;
left:0;
overflow:hidden;
padding:15px;
cursor:default;
z-index:10;
}
.header h1{
line-height:31px;
}
.navigation{
list-style:none;
margin-top:10px;
}
.navigation li{
padding:5px;
}
.content{
margin-bottom:50px;
padding:10px;
}
.breadcrumbs{
padding:10px 0;
margin-top:50px;
}
th{
text-align:left;
}
table{
border-collapse:collapse;
}
.l2{padding-left:30px !important;}
.l3{padding-left:60px !important;}
.l4{padding-left:90px !important;}
.l5{padding-left:120px !important;}
.l6{padding-left:150px !important;}
.l7{padding-left:180px !important;}
.table td, .table th{
padding:5px;
vertical-align:middle;
}
.table td:last-child a{margin-right:10px;}
.hideLinks  .path a {display:none;}
.help{cursor:help;}
.help:after{content: "?";margin-left:1px;font-size:10px;vertical-align:top;}
.canHideChilds, .canShowChilds, .canLoadChilds{cursor:pointer;padding-left: 1px;}
.canShowChilds:before, .canLoadChilds:before{content:"✚";}
.canHideChilds:before{content:"▭";margin-right:3px;}

.footer{position:fixed;bottom:0;left:0;padding:15px;text-align:center;z-index:10;}
.footer select{margin-right:50px;}
.right{float:right;margin-right:30px;}
.left{float:left;}
.centered{text-align:center;}

#notify {position:fixed;top:0;right:0;z-index:11;}
#notify li {
width: 250px;
list-style: none;
margin: 5px;
padding: 10px;
text-align: center;
color: black;
}
#container-wrap, #container-wrap:after{position:fixed;top:0;left:0;width:100%;height:100%;z-index:20;}
#container{margin:100px auto;color:white;position:relative;}
#container > h3{padding:10px 10px 0;}
#container-content{padding:10px;}
#close{position:absolute;top:0;right:0;padding:5px 10px;cursor:pointer;}
#container-wrap:after{content:"";background:black;opacity:0.6;z-index:-1;}
.container-buttons{
position:absolute;
bottom:0;
right:0;
}
.container-buttons div{
padding:5px 10px;
cursor:pointer;
display:inline-block;
}

.form td+td{
width:300px;
padding: 16px 0 0 20px;

}
.form td{
vertical-align:top;
}
.form select {
padding: 5px;
}
.form #status{
height:36px;
margin:16px 0 15px 0;
}
.form .title{
padding:0 0 2px 2px;
}
.form .title + div {
margin-bottom: 15px;
}
#words{
height: 500px;
}
.spoiler{
cursor: pointer;
}
#meta{
padding:8px;
}
#meta legend{
padding:2px 8px;
border-left:1px solid gray;
border-right:1px solid gray;
border-radius:3px;
}
#meta>input{
margin-top:3px;
padding:6px;
font-size:14px;
}
#meta div input{
padding: 4px;
width: 246px;
}
#meta .centered {
padding:3px 0;
}
#language{
text-transform:uppercase;
}
#skin_selector{
width: 20px;
height:20px;
overflow:hidden;
position:absolute;
bottom: 15px;
right: 130px;
}
#skin_selector a {
display:block;
width: 20px;
height:20px;
text-indent:-1000px;
overflow:hidden;
}
#skin_selector:hover{height:auto}
#table_input{border:none;}
#table_input:hover{border-bottom:1px soild black}