<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="" />
  <meta name="title" content="" />
  <meta name="description" content="" />
<title>Vulcan | Minimalist Business Template 4</title>

<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>    
	<link href="css/ie6.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/DD_belatedPNG.js"></script>
	<script type="text/javascript"> 
	   DD_belatedPNG.fix('img'); 
       DD_belatedPNG.fix('ul.list-bottom li');
       DD_belatedPNG.fix('#footer-content, .dot-separator');
       DD_belatedPNG.fix('blockquote');          
	</script>    
<![endif]-->
<!--[if IE 7]>    
	<style type="text/css">
    .maincontent{padding:0px 0px 60px 0px;}
    </style>
<![endif]-->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/dropdown.js"></script>
<script type="text/javascript" src="js/jquery.corner.js"></script>
<script type="text/javascript">
    $('.box-bq').corner("8px");
</script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Vegur_300.font.js"></script>
<script type="text/javascript">
            Cufon.replace('h1') ('h2') ('h3') ('h4') ('h5') ('h6') ('ul.navigation',{hover:true});
</script>  
</head>
<body>
	<div id="container">
    
    	<!-- BEGIN OF HEADER -->
    	<div id="top-container-inner">
        
        	<!-- begin of logo and mainmenu -->
        	<div id="header">
            	<div id="logo"><a href="index.html"><img src="images/logo.gif" alt="" /></a></div>
                <div id="mainmenu">
                    <ul class="navigation">
                        <li><a href="index.html">Home</a></li>
                        <li class="current"><a href="about.html">About</a></li>                    
                        <li><a href="services.html">Services</a>
                        	<ul>
                                <li><a href="services-detail.html">Services detail</a></li>
                                <li><a href="single.html">Single pages</a></li>
                                <li><a href="fullwidth.html">Fullwidth page</a></li>
                                <li><a href="index-alt.html">Home alternate</a></li>
                                <li><a href="index-alt2.html">Home alternate 2</a></li>
                            </ul>
                        </li>                                
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>            
            </div>
            <!-- end of logo and mainmenu -->    
                    
        </div>
        <!-- END OF HEADER -->
        
        <!-- BEGIN OF PAGE TITLE -->
        <div id="page-title">
        	<div id="page-title-inner">
                <div class="title">
                <h1>About</h1>
                </div>
                <div class="dot-separator-title"></div>
                <div class="description">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem laudantiu totam rem aperiam, eaque ipsa quae abillo inventore veritatis quasi architecto beatae vitaedic</p>
                </div>
            </div>   	            
        </div>
        <!-- END OF PAGE TITLE --> 
        
        <!-- BEGIN OF CONTENT -->
        <div id="content">
        
        	<div id="content-left">          
                <div class="maincontent">
                <h3>We are Vulcan, empowering business</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpat.</p>
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet utet voluptates repudiandae sin et molestiae recusan dae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatu.</p><br/>
                <h4>Meet our team</h4>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolor es eos qui ratione voluptatem sequi nesciunt neque porro quisquam est qui dolorem ipsum.</p>
                	<!-- begin of team -->
                	<div class="about-item">
                        <div class="about-team"><img src="images/team1.jpg" alt="" class="imgleft border" /></div>
                        <p><strong>Mr. John Endry</strong><br />Utenim ad minima veniam quis nostru  exe rcitationem ullam corporis suscipit laboriosa  nisi ut aliquid ex ea commo di consequature quis autem veleumiur  reprehenderit qui in ea voluptate velita</p>
                    </div>	
                    <div class="spacer">&nbsp;</div>
                    <div class="about-item">
                        <div class="about-team"><img src="images/team2.jpg" alt="" class="imgleft border" /></div>
                        <p><strong>Mr. Brandon Lee</strong><br />Utenim ad minima veniam quis nostru  exe rcitationem ullam corporis suscipit laboriosa  nisi ut aliquid ex ea commo di consequature quis autem veleumiur  reprehenderit qui in ea voluptate velita</p>
                    </div>
                    <div class="about-item">
                        <div class="about-team"><img src="images/team3.jpg" alt="" class="imgleft border" /></div>
                        <p><strong>Mrs. Sarah Hook</strong><br />Utenim ad minima veniam quis nostru  exe rcitationem ullam corporis suscipit laboriosa  nisi ut aliquid ex ea commo di consequature quis autem veleumiur  reprehenderit qui in ea voluptate velita</p>
                    </div>	
                    <div class="spacer">&nbsp;</div>
                        <div class="about-item">
                        <div class="about-team"><img src="images/team4.jpg" alt="" class="imgleft border" /></div>
                        <p><strong>Mrs. Meilany Wijaya</strong><br />Utenim ad minima veniam quis nostru  exe rcitationem ullam corporis suscipit laboriosa  nisi ut aliquid ex ea commo di consequature quis autem veleumiur  reprehenderit qui in ea voluptate velita</p>
                    </div>
                    <!-- end of team -->
                    
                    <!-- begin of box blockquote -->
                    <div class="box-bq">
                    	<blockquote>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur exce sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum tem poribus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet volu</p>
                        </blockquote>                    
                    </div>
                    <!-- end of box blockquote -->
                    
                </div>
            </div>
            
            <div id="content-right">
            
            	<!-- begin of sidebar -->
            	<div class="sidebar">
                <h3>More about us</h3>
                <ul class="sidebar-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Vision and Misision</a></li>                    
                    <li><a href="#">Company History</a></li>                                
                    <li><a href="#">Company Philosophy</a></li>
                    <li><a href="#">Our Partnership</a></li>
                    <li><a href="#">Carreer</a></li>
                </ul>
                </div>
                <div class="sidebar-bottom"></div>
                <!-- end of sidebar -->
                
                <!-- begin of sidebar -->
            	<div class="sidebar">
                <h3>Our advantage</h3>
                <img src="images/adv-icon1.gif" alt="" class="imgleft" />
                <strong>Great result on each services</strong><p>Ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip commodo</p>
                <img src="images/adv-icon2.gif" alt="" class="imgleft" />
                <strong>Efficient and faster works</strong><p>Ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip commodo</p>
                <img src="images/adv-icon3.gif" alt="" class="imgleft" />
                <strong>We offer competitive price</strong><p>Ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip commodo</p>
                </div>
                <div class="sidebar-bottom"></div>
                <!-- end of sidebar -->        
                
            </div>                
                  
        </div>
        <!-- END OF CONTENT -->
        
        <!-- BEGIN OF FOOTER -->
        <div id="bottom-container">
        	<div id="footer-content">
            
            	<!-- begin of footer-address --> 
            	<div id="footer-address">
                <img src="images/footer-logo.png" alt="" />
                <p>Imperium Tower - 15 Kuningan Raya 54th Street 14th Floor, Jakarta,  DKI 10220, Indonesia</p>
                <p>Telp : +1 234 567 8910, Fax : +1 234 567 1098<br/>Email : info@vulcan.com, support@vulcan.com</p>
                </div>
                <!-- end of footer-address -->
                
                <!-- begin of company-news -->
                <div id="footer-news">
                <h3>Company News</h3>
                    <ul class="list-bottom">
                        <li><a href="#">Quis autem vel eum iure reprehenderit qui in ea voluptate - <strong>23 May 2010</strong></a></li>
                        <li><a href="#">At vero eos et accusamus et iusto odio dignissimos ducimus - <strong>14 May 2010</strong></a></li>
                        <li><a href="#">Nam libero tempore, cum soluta nobis eligendi optio cumque - <strong>05 May 2010</strong></a></li>
                        <li><a href="#">Temporibus autem quibusdam et aut officiis debitis rerum - <strong>22 April 2010</strong></a></li>
                    </ul>
                </div>
                <!-- end of company-news -->
                
                <!-- begin of footer-menu and copyright -->
                <div id="footer-last">
                	<div id="footer-menu">
                        <ul class="navigation-footer">
                            <li class="current"><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>                    
                            <li><a href="services.html">Services</a></li>                                
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div id="footer-copyright">
                    Copyright © 2010 Vulcan Company.  All rights reserved
                    </div>
                </div>
                <!-- end of footer-menu and copyright -->
                            
            </div>
        </div>
        <!-- END OF FOOTER -->
    	
    </div>
</body>
</html>