<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="" />
  <meta name="title" content="" />
  <meta name="description" content="" />
<title>Vulcan | Minimalist Business Template 4</title>

<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>    
	<link href="css/ie6.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/DD_belatedPNG.js"></script>
	<script type="text/javascript"> 
	   DD_belatedPNG.fix('img'); 
       DD_belatedPNG.fix('ul.list-bottom li');
       DD_belatedPNG.fix('#footer-content, .dot-separator');
       DD_belatedPNG.fix('blockquote');          
	</script>    
<![endif]-->
<!--[if IE 7]>    
	<style type="text/css">
    .maincontent{padding:0px 0px 60px 0px;}
    </style>
<![endif]-->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/dropdown.js"></script>
<script type="text/javascript" src="js/jquery.corner.js"></script>
<script type="text/javascript">
    $('.box-bq').corner("8px");
</script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Vegur_300.font.js"></script>
<script type="text/javascript">
            Cufon.replace('h1') ('h2') ('h3') ('h4') ('h5') ('h6') ('ul.navigation',{hover:true});
</script>  
</head>
<body>
	<div id="container">
    
    	<!-- BEGIN OF HEADER -->
    	<div id="top-container-inner">
        
        	<!-- begin of logo and mainmenu -->
        	<div id="header">
            	<div id="logo"><a href="index.html"><img src="images/logo.gif" alt="" /></a></div>
                <div id="mainmenu">
                    <ul class="navigation">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>                    
                        <li class="current"><a href="services.html">Services</a>
                        	<ul>
                                <li><a href="services-detail.html">Services detail</a></li>
                                <li><a href="single.html">Single pages</a></li>
                                <li><a href="fullwidth.html">Fullwidth page</a></li>
                                <li><a href="index-alt.html">Home alternate</a></li>
                                <li><a href="index-alt2.html">Home alternate 2</a></li>
                            </ul>
                        </li>                                
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>            
            </div>
            <!-- end of logo and mainmenu -->    
                    
        </div>
        <!-- END OF HEADER -->
        
        <!-- BEGIN OF PAGE TITLE -->
        <div id="page-title">
        	<div id="page-title-inner">
                <div class="title">
                <h1>Services</h1>
                </div>
                <div class="dot-separator-title"></div>
                <div class="description">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem laudantiu totam rem aperiam, eaque ipsa quae abillo inventore veritatis quasi architecto beatae vitaedic</p>
                </div>
            </div>   	            
        </div>
        <!-- END OF PAGE TITLE --> 
        
        <!-- BEGIN OF CONTENT -->
        <div id="content">
        
        	<div id="content-left">          
                <div class="maincontent">
                <h3>Business Strategy &amp; Planning</h3>
                <p class="heading-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores qui ratione voluptatem sequi nesciunt qui dolorem ipsum quia.</p>
                <img src="images/services5.jpg" alt="" class="imgleft" />                
                <p class="services-margintop">Duis aute irure dolor in reprehenderit vol uptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecates cupidatat proident sun in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit involup tate velit esse cillum dolore eufugiat nulla pariatur. Excepteur sint occaecat cupidat non proident, sunt in culpa quiofficia des erunt mollit anim id est laborum. Namlibe tempore, cum soluta nobis est eligendi optio cumque impedit minus maximeplac eat face possimus, omnis voluptasep assumenda dolor repellendus temporiu.</p>
                <h4>Detail services</h4>
                <p>Occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore cum soluta.</p>
                <ul class="check-list">
                	<li>Occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit</li>
                	<li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amets adipisci velit</li>
                	<li>excepturi sint occaecati cupiditate non provident, similique sunt in officia </li>
                	<li>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus</li>
                </ul>
                
                <!-- begin of box blockquote -->
                    <div class="box-bq">
                    	<div class="services-box">
                        <h5>Vulcan is easy to custom</h5>
                        <img src="images/services-icon1.png" alt="" class="imgleft" />
                        <p>Itaque earum rerum hic tenetur alias sapiente delectus reiciend is voluptatibus maiores conseq uatu aut perferendis doloribus asperio repellat ducimus blandi</p>
                        </div>
                        <div class="services-spacer-box">&nbsp;</div>
                        <div class="services-box">
                        <h5>Suitable for any business</h5>
                        <img src="images/services-icon2.png" alt="" class="imgleft" />
                        <p>Itaque earum rerum hic tenetur alias sapiente delectus reiciend is voluptatibus maiores conseq uatu aut perferendis doloribus asperio repellat ducimus blandi</p>
                        </div>                    
                    </div>
                <!-- end of box blockquote -->
                	            
                </div>
            </div>
            
            <div id="content-right">
            
            	<!-- begin of sidebar -->
            	<div class="sidebar">
                <h3>Trust your project to us</h3>
                <img src="images/sidebar-img.jpg" alt="" class="imgborder" />
                <p>Temporibus autem quibusdam officiis debitis aut rerum necessitatibus saepe eveniet volupt ates repudiandae sint et molestiae recusandae itaque earum rerum hic tenetur sapiente delec.</p>
                </div>
                <div class="sidebar-bottom"></div>
                <!-- end of sidebar -->
                
                <!-- begin of sidebar -->
            	<div class="sidebar">
                <h3>Client testimonials</h3>
                <blockquote>
                <p>Neque porro quisquam estqui doloremip sum quia dolor sitamet, consecteturad ipisci velit non numquam eius moditemp ora incidunt ut labore et dolore magna.</p>
                </blockquote>
                <p><strong>Andrew Guy - CEO ABC Company</strong></p>
                </div>
                <div class="sidebar-bottom"></div>
                <!-- end of sidebar -->          
                
            </div>                
                  
        </div>
        <!-- END OF CONTENT -->
        
        <!-- BEGIN OF FOOTER -->
        <div id="bottom-container">
        	<div id="footer-content">
            
            	<!-- begin of footer-address --> 
            	<div id="footer-address">
                <img src="images/footer-logo.png" alt="" />
                <p>Imperium Tower - 15 Kuningan Raya 54th Street 14th Floor, Jakarta,  DKI 10220, Indonesia</p>
                <p>Telp : +1 234 567 8910, Fax : +1 234 567 1098<br/>Email : info@vulcan.com, support@vulcan.com</p>
                </div>
                <!-- end of footer-address -->
                
                <!-- begin of company-news -->
                <div id="footer-news">
                <h3>Company News</h3>
                    <ul class="list-bottom">
                        <li><a href="#">Quis autem vel eum iure reprehenderit qui in ea voluptate - <strong>23 May 2010</strong></a></li>
                        <li><a href="#">At vero eos et accusamus et iusto odio dignissimos ducimus - <strong>14 May 2010</strong></a></li>
                        <li><a href="#">Nam libero tempore, cum soluta nobis eligendi optio cumque - <strong>05 May 2010</strong></a></li>
                        <li><a href="#">Temporibus autem quibusdam et aut officiis debitis rerum - <strong>22 April 2010</strong></a></li>
                    </ul>
                </div>
                <!-- end of company-news -->
                
                <!-- begin of footer-menu and copyright -->
                <div id="footer-last">
                	<div id="footer-menu">
                        <ul class="navigation-footer">
                            <li class="current"><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>                    
                            <li><a href="services.html">Services</a></li>                                
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div id="footer-copyright">
                    Copyright © 2010 Vulcan Company.  All rights reserved
                    </div>
                </div>
                <!-- end of footer-menu and copyright -->
                            
            </div>
        </div>
        <!-- END OF FOOTER -->
    	
    </div>
</body>
</html>