a{color:#2c313a;}
a:hover{color:#ea4848;}
input, textarea, select{border:1px solid gray;}
.paginator .active{color:#ea4848;}
.paginator  a{border:1px solid #fff;}

.gradient{
background:#151619;
background: -moz-radial-gradient(top, ellipse farthest-side,  #2f3349 0%, #151619 100%); /* FF3.6+ */
background: -webkit-gradient(radial, top center, 0px, top center, 100%, color-stop(0%,#2f3349), color-stop(100%,#151619)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(top, ellipse farthest-side,  #2f3349 0%,#151619 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(top, ellipse farthest-side,  #2f3349 0%,#151619 100%); /* Opera 12+ */
background: -ms-radial-gradient(top, ellipse farthest-side,  #2f3349 0%,#151619 100%); /* IE10+ */
background: radial-gradient(ellipse at top,  #2f3349 0%,#151619 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f3349', endColorstr='#151619',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#menu{color:#A7A7A7;}
#menu a, .breadcrumb a, .footer a{color:#fff;text-decoration:none;}
#menu a:hover, .breadcrumb a:hover, .footer a:hover{color:#ea4848;}
.undermenu{background-color:#2c313a;}
.breadcrumb,.modal-header{background:#2c313a;color:#A7A7A7;}
.footer{background:#2c313a;color:#fff;}
.footer select{color:#000;}
.text-primary{color:#2c313a;}
.btn-primary{background-color:#2c313a;border-color:#21252c;}.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{background-color:#1a1d23;border-color:#070709;}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#2c313a;border-color:#21252c;}
.btn-link{color:#2c313a;}
.btn-link:hover,.btn-link:focus{color:#ea4848;}
.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{background-color:#eeeeee;border-color:#2c313a;}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{color:#fff;background-color:#2c313a;}
.nav .caret{border-top-color:#2c313a;border-bottom-color:#2c313a;}
.nav a:hover .caret{border-top-color:#0b0c0f;border-bottom-color:#0b0c0f;}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{background-color:#2c313a;border-color:#2c313a;}
.label-primary{background-color:#2c313a;}.label-primary[href]:hover,.label-primary[href]:focus{background-color:#16191d;}
a.list-group-item.active>.badge,.nav-pills>.active>a>.badge{color:#2c313a;}
a.thumbnail:hover,a.thumbnail:focus{border-color:#2c313a;}
.progress-bar{background-color:#2c313a;}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{background-color:#2c313a;border-color:#2c313a;}
.list-group-item.active .list-group-item-text,.list-group-item.active:hover .list-group-item-text,.list-group-item.active:focus .list-group-item-text{color:#8b95a7;}
.panel-primary{border-color:#2c313a;}.panel-primary>.panel-heading{background-color:#2c313a;border-color:#2c313a;}.panel-primary>.panel-heading+.panel-collapse .panel-body{border-top-color:#2c313a;}
.panel-primary>.panel-footer+.panel-collapse .panel-body{border-bottom-color:#2c313a;}
.dropdown-menu>li>a.danger:hover,.dropdown-menu>li>a.danger:focus {background-color:#ea4848;}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{background-color:#2c313a;}
.close{color:#fff;opacity:.5}
.close:hover{color:#fff;opacity:.9}
#notify .success {background:#99ffcc;color:#0f4918;}
#notify .error {background:#ffcccc;color:#bf210e;}

.s-0, .s-0 a, .s-0 select{color:#c0c0c0}
.sort-highlight{border:1pz dashed #ea4848;}


