/*----------------------------------------------------
                 Vulcan - CSS File
------------------------------------------------------*/

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriad.eot');
    src: url('../fonts/myriad.eot') format('embedded-opentype'),
         url('../fonts/myriad.woff') format('woff'),
         url('../fonts/myriad.ttf') format('truetype'),
         url('../fonts/myriad.svg#MyriadProRegular') format('svg');
}

@font-face {
    font-family: 'a_AvanteTitler';
    src: url('../fonts/tszooyzt-webfont.eot');
    src: url('../fonts/tszooyzt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tszooyzt-webfont.woff') format('woff'),
         url('../fonts/tszooyzt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Global
------------------------------------------------------*/
html,body{height:100%}
body{
	font-family:Arial, Tahoma, Verdana;	
	font-size:12px;	
	margin:0 auto; padding:0;
	background:#fff;
	color:#a5a6a6;
	height:100%;
}
*{
	margin:0;
	padding:0;
}
*:focus{
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
				 if you want to keep it! */
}
.clr{
	clear:both
}
form{
	margin:0; padding:0;
}
hr{
	border:0;
	color:#d3d3d3;
	background-color: #d3d3d3;
	height: 1px;
}
hr.content-line{
	border:0;
	color:#d0d0d0;
	background-color: #d3d3d3;
	margin:30px 0px 30px 0px;
	height: 1px;
}


/* Default Element Styles
------------------------------------------------------*/
/* heading */
h1, h2, h3, h4, h5, h6{
	font-family:a_AvanteTitler, Helvetica, sans-serif; 
	font-weight:normal;
	color:#65696e;
}
h1{
	font-size:28px; 
	line-height:30px; 
	margin-bottom:10px;
}
h2{
	font-size:24px; 
	line-height:28px; 
	margin-bottom:10px;
}
h3{
	font-size:22px; 
	line-height:20px; 
	margin-bottom:10px;
}
h4{
	font-size:18px; 
	line-height:18px; 
	margin-bottom:8px; 
	font-weight:bold;
}
h5{
	font-size:16px; 
	margin:3px 0px; 
	padding:0px; 
}
h6{
	font-size:14px; 
	margin:3px 0px; 
	padding:0px; 
}

/* links */
a{
	color:#0d364b; 
	text-decoration:underline;
}
a:visited{
	color:#a7a6a6; 
	text-decoration:none;
}
a:hover{
	color:#a7a6a6; 
	text-decoration:none;
}
a img{
	border:none
}
.imgcenter{
	float:left; 
	margin:0px 0px 10px 0px;
}
.imgleft{
	float:left; 
	margin:4px 12px 10px 0px;
}
.imgright{
	float:right; 
	margin:4px 0px 10px 12px;
}
.border{ 
	padding:4px;
	border:1px solid #ebebeb;
}

/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote{
	font-size:12px;
	line-height:18px;
	margin-bottom:14px;
	color:#a5a6a6;
}
ul, ol{
	margin:10px 0 35px 40px;
}
li ol, li ul{
	font-size:1.0em;
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol{
	list-style:decimal;
}
blockquote{
	font-style:italic;
	margin:0px;
	color:#6e7a7f;
	padding:0px 4px 2px 38px;
	background-image:url(../images/quote.png);
	background-position:0px 5px;
	background-repeat:no-repeat;
	float:left;
}


/* code */
code{
	font-family:Tahoma, Arial, Verdana;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #dddddd;
	padding:15px 10px;
}


/* Container
------------------------------------------------------*/
#container{
	border-top:11px solid #65696e;
}
#top-container{
	width:960px;
	height:522px;
	margin:0px auto;
}
#top-container-inner{
	width:960px;
	height:104px;
	margin:0px auto;
}
#mid-container{
	width:100%;
	height:189px;
	margin-top:-10px;
	background-color:#ebebeb;
	float:left;
}
#bottom-container{
	width:100%;
	height:263px;
	background-color:#65696e;
	float:left;
}


/* Header
------------------------------------------------------*/
#header{
	width:960px;
	height:104px;
	float:left;
}
#logo{
	width:200px;
	margin:0px;
	padding:29px 0px 0px 17px;
	float:left;
}

/* Mainmenu Styling */
#mainmenu{
	width:743px;
	height:41px;
	margin-top:27px;
	float:left;
}
.navigation{
	width:640px;
	font-family:MyriadProRegular;
	float:left;
	margin-left:105px;
	list-style-type:none;
}
.navigation ul{
	margin:0px; 
	padding:0px; 
	list-style-type:none; 
	position:relative;
	clear:both;	
}
.navigation li{	
	list-style-type:none; 
	padding:0px; 
	margin:0px; 
	float:left;
	z-index:100; 
	position:relative;
}
.navigation li a{
	font-size:16px;
	text-decoration:none;
	color:#65696e; 
	display:block;
	margin:0px;
	padding:0px 44px 10px 0px;
	float:left;
	z-index:100;	
}
.navigation li.current a, .navigation li a:hover, .navigation li.current li a:hover{
	text-decoration:none;
	color: #989494;	
}
.navigation li.current li a{
	text-decoration:none;
	color:#989494;
}
.navigation li li{
	margin:0 0 0px 0px;
	padding:0px;
	position:relative;
	z-index:100;	
}
.navigation ul{
	display:none;
	position:absolute;
	top:25px;
	left:-17px;
	width:135px;
	padding-bottom:3px;
	z-index:100;	
	background-color:#fff;
	border-top:none;
	border-bottom:2px solid #ebebeb;
	border-left:2px solid #ebebeb;
	border-right:2px solid #ebebeb;
	-moz-border-radius-bottomleft:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-left-radius:9px;
	-webkit-border-bottom-right-radius:9px;
}
.navigation li ul a{
	width:105px;
	height:auto;
	float:left;
	padding:0px 15px 8px 15px;
	font-size:13px;
	color:#65696e;
	line-height:24px;
	z-index:100;
	text-decoration:none;
}

/* Welcome Slogan Styling */
#slogan{
	width:715px;
	margin-top:15px;
	float:left;
}
#get-in-touch{
	width:205px;
	height:53px;
	margin-top:15px;
	float:left;
}
#get-in-touch img{
	padding-left:14px;
	float:left;
}
.dot-separator{
	width:35px;
	height:54px;
	margin-top:20px;
	background-image:url(../images/dot-separator.png);
	background-position:center;
	background-repeat:repeat-y;
	float:left;
}

/* Page-title Styling */
#page-title{
	width:100%;
	height:86px;
	background-color:#ebebeb;
	float:left;
}
#page-title-inner{
	width:960px;
	margin:0px auto;
}
.title{
	margin:23px 0px 0px 18px;
	float:left;
}
.description{
	margin:23px 0px 0px 0px;
	width:516px;
	float:left;
}
.dot-separator-title{
	width:64px;
	height:39px;
	margin-top:22px;
	background-image:url(../images/dot-separator.png);
	background-position:center;
	background-repeat:repeat-y;
	float:left;
}


/*  Slideshow
------------------------------------------------------*/
#slideshow{
	width:960px;
	height:304px;
	background-color:#ebebeb;
	float:left;
}
#slideshow ul, #slideshow li{
	width:936px;
	height:280px;
	margin:6px 0px 0px 6px; 
	padding:0px;
	list-style-type:none;
}
#pager, #pager-alt{
	position:absolute;
	z-index:100;
	top:375px;
	margin-left:880px;
}
#pager a{
	background: url(../images/slide.png) no-repeat scroll 50% 50%;
	display:block;
	float:left;
	font-size:0px;
	width:13px;
	height:13px;
	margin:2px;
	outline-style:none;
	outline-width:medium;
	padding:-1px;
}
#pager .activeSlide{
	background: url(../images/slide.png) no-repeat scroll 0% 50%;
}
#pager-alt a{
	background: url(../images/slide-alt.png) no-repeat scroll 50% 50%;
	display:block;
	float:left;
	font-size:0px;
	width:13px;
	height:13px;
	margin:2px;
	outline-style:none;
	outline-width:medium;
	padding:-1px;
}
#pager-alt .activeSlide{
	background: url(../images/slide.png) no-repeat scroll 0% 50%;
}


/* Slideshow alt */
#slideshow-alt {
    width:960px;
	height:304px;
	background-color:#ebebeb;
    position:relative; /* important */
	overflow:hidden; /* important */
	float:left;
}
#slideshow-altContent {
    width:936px; /* important to be same as image width or wider */
	height:280px;
	margin:12px 0px 0px 12px; 
	padding:0px;
    position:absolute;
	top:0;
}
.slideshow-altImage {
    float:left;
    position:relative;
	display:none;
}
.slideshow-altImage span {
    position:absolute;
	font-size:12px;
    padding:10px 20px;
    width:896px;
    background-color:#000;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
	-khtml-opacity:0.7;
    opacity:0.7;
    color:#fff;
    display:none;
	bottom:5px;
}
.clear {
	clear: both;
}
.slideshow-altImage span strong {
    font-size: 14px;
}
.bottom {
	bottom: 0;
    left: 0;
}
ul{list-style-type: none;}

/* Slideshow alt2 */
.slide-img{
	width:610px;
	height:280px;
	margin-right:26px;
	float:left;
}
.slide-text{
	width:282px;
	margin-top:12px;
	float:left;
}
.heading1-slide{
	width:282px;
	font-family:MyriadProRegular;
	font-size:22px;
	color:#65696e;
	line-height:20px;
	margin-bottom:0px;
	float:left;
}
.heading2-slide{
	width:282px;
	font-family:MyriadProRegular;
	font-size:14px;
	color:#65696e;
	margin-bottom:15px;
	float:left;
}
.slide-text p{
	width:282px;
	margin:13px 0px 0px 0px;
	float:left;
}
.slide-more{
	height:29px;
	font-family:MyriadProRegular;
	font-size:16px;
	color:#fff;
	text-align:center;
	margin:18px 0px 0px 0px;
	padding:6px 20px 0px 20px;
	background-color:#fff;
	float:left;
}
.slide-more a, .slide-more a:visited{
	color:#65696e;
	text-decoration:none;
}


/* Content
------------------------------------------------------*/
#content{
	width:960px;
	margin:0px auto;	
}
#content-left{
	width:622px;
	margin-right:50px;
	float:left;
}
#content-right{
	width:288px;
	margin:49px 0px;
	float:left;
}
#content-fullwidth{
	width:960px;
	float:left;
}
.maincontent{
	margin:49px 0px 60px 0px;
	float:left;
	min-height: 300px;
}
.sidebar{
	width:267px;		
	border-left:2px solid #ebebeb;
	padding-left:21px;
	float:left;
}
.sidebar-bottom{
	width:288px;
	height:11px;
	margin-bottom:34px;
	background-image:url(../images/sidebar-bottom.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	float:left;
}

/* Content list */
ul.sidebar-list{
	margin:0px; 
	padding:0px 0px 13px 0px; 
	list-style-type:none;
}
ul.sidebar-list li{
	background-image:url(../images/bottom-dot2.png);
	background-position:bottom;
	background-repeat:repeat-x;
	padding-bottom:4px;
	line-height:26px;
}
ul.sidebar-list li a{
	color:#a6a6a6;
	text-decoration:none;
}
ul.sidebar-list li a:hover{
	text-decoration:underline;
}

/* Front Box Styling */
#content .front-box-content{
	margin-bottom:45px;
}
#content .front-box-content2{
	margin-bottom:45px;
}
#front-box{
	width:960px;
	margin:0px auto;
}
.front-box-content{
	width:286px;
	margin-top:25px;
	float:left;
}
.front-box-content2{
	width:622px;
	margin-top:25px;
	float:left;
}
.front-box-content3{
	width:286px;
	margin-top:25px;
	float:left;
}
.front-box-content h4{
	color:#3e4043;
}
.img-front{
	width:79px;
	height:150px;
	float:left; 
}
.dot-separator-content{
	width:50px;
	height:138px;
	margin-top:22px;
	background-image:url(../images/dot-separator.png);
	background-position:center;
	background-repeat:repeat-y;
	float:left;
}
.separator-content{
	width:50px;
	display:block;
	float:left;
}

/* Client Logo list */
ul.client-list{
	width:288px;
	margin:0px 0px 0px 2px; 
	padding:0px; 
	list-style-type:none;
}
ul.client-list li{
	width:64px;
	margin:0px 10px 6px 0px;
	float:left;
}
ul.client-list li.client-last{
	width:64px;
	margin:0px 0px 6px 0px;
	float:left;
}


/* About
------------------------------------------------------*/
.about-item{
	width:296px; 
	float:left; 
	padding-bottom:15px;
}
.spacer{
	width:30px; 
	float:left; 
	display:block; 
	height:100%;
}
.about-team{
	width:82px; 
	height:98px; 
	float:left;
}
.box-bq{
	padding:12px 20px 2px 20px;
	background-color:#ebebeb;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	float:left;
}

	
/* Services
------------------------------------------------------*/
.services-column{
	width:455px;
	margin:20px 0px 20px 0px;
	border-bottom:1px solid #ebebeb;
	float:left;
}
.services-spacer{
	width:50px;
	display:block;
	float:left;
}
.services-spacer-box{
	width:30px;
	display:block;
	float:left;
}
.more-button{
	height:29px;
	font-size:16px;
	color:#3e4043;
	text-align:center;
	margin:10px 0px 20px 0px;
	padding:6px 20px 0px 20px;
	background-color:#ebebeb;
	float:right;
}
.more-button a, .more-button a:visited{
	text-decoration:none;
	color:#3e4043;
}
.heading-text{
	font-size:14px;
	font-style:italic;
	line-height:24px;
}
.services-margintop{
	margin-top:40px;
	margin-bottom:30px;
}
.services-box{
	width:275px;
	float:left;
}
.services-box p{
	margin-bottom:23px;
}


/* Portfolio
------------------------------------------------------*/
.pf-title{
	width:900px;
	height:16px;
	float:left;
}
#pf-view{
	width:60px;
	height:29px;	
	float:left;
}
.pf-box-view{
	background-color:#ebebeb;
	margin-bottom:25px;
	padding:12px 12px 13px 12px;
	float:left;
}
.pf{
	margin:14px 0px 0px 20px;
	float:left;
}

/* List and Grid View */
ul.display{
	float:left;
	width:960px;
	margin:0;
	padding:0;
	list-style:none;	
}
ul.display li{
	float:left;
	width:960px;
	padding:0px;
	margin:0;
}
ul.display li .content_block img{
	padding:0px;
	margin:0px;
	float:left;
}

ul.display li ul.check-list li{
	float:left;
	width:463px;
	margin-left:20px;
}
ul.display li .content_block{
	margin:15px 0px 22px 0px;
	border-bottom:1px solid #ebebeb;
	float:left;
}
ul.display li .content_block h4{
	width:485px;
	margin-left:20px;
	float:left;
}
ul.display li .content_block p{
	width:485px;
	font-size:12px;
	margin-left:20px;
	float:left;
}
ul.thumb_view li{
	width:455px;
	margin:0px 10px;
}
ul.thumb_view li .pf-box-view{
	background-color:#ebebeb;
	margin-bottom:25px;
	padding:12px 12px 3px 12px;
	float:left;
}
ul.thumb_view li .content_block h4{
	width:455px;
	margin:-15px 0px 0px 0px;
	float:left;
}
ul.thumb_view li .content_block p{
	width:455px;
	font-size:12px;
	margin-left:0px;
	float:left;
}
ul.thumb_view li ul.check-list,  ul.thumb_view li .more-button{
	display:none;
}
ul.thumb_view li .content_block a img{
	margin: 0 0 10px;
}
a.switch_thumb{
	width:60px;
	height:29px;
	line-height:26px;
	padding:0;
	margin:-7px 0px 0px 0px;
	display:block;
	background:url(../images/select-view.gif) no-repeat;
	outline:none;
	text-indent:-9999px;
}
a:hover.switch_thumb{
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
a.swap{background-position: left bottom;}


/* Check list */
ul.check-list{
	margin:-3px 0px 20px 0px; 
	padding:0px; 
	list-style-type:none;
}
ul.check-list li{
	background-image:url(../images/check.gif);
	background-position:0px 7px; 
	background-repeat:no-repeat; 
	padding-left:22px;
	line-height:26px;
}




/* Blog
------------------------------------------------------*/
.blog-post{
	float:left;
}
.left-head{
	width:40px;
	background-color:#ebebeb;
	margin-right:14px;
	padding:7px 0px 7px 0px;
	float:left;
	font-family:MyriadProRegular;
}
.right-head{
	width:568px;
	border-bottom:1px solid #ebebeb; 
	float:left
}
.blog-posted{	
	width:622px;
	margin:21px 0px 10px 0px;
	float:left;
}
.right-head h3{
	width:568px;
	margin-bottom:2px;
}
.right-head a, .right-head a:visited{
	text-decoration:none;
	color:#65696e;
}
.post-info{
	width:568px;
	color:#d9d8d8;
	margin-bottom:5px;	 
	float:left;	
}
.post-info a, .post-info a:visited{
	text-decoration:none;
	color:#d9d8d8;
}
.post-info a:hover{
	text-decoration:underline;
}
.date{
	font-size:20px;
	color:#65696e; 
	line-height:20px;
	text-align:center; 
}
.month{
	font-size:12px;
	color:#65696e; 
	line-height:10px; 
	text-align:center;
}
.blog-box{
	background-color:#ebebeb;
	margin:0px 15px 0px 0px;
	padding:12px;
	float:left;
}

/* Author info styling */
.author{
	width:600px;
	background-color:#ebebeb; 
	color:#abacad; 
	padding:10px 15px 6px 15px; 
	line-height:18px; 
	float:left;
}
.author h5{
	color:#65696e;
	margin:1px 0px 5px 0px;
}

/* Blog pagination */
.commonPageListControlBar{
	margin:0px;
	text-align:left;
	float:left;
}
.commonPageListControlBar p{
	font-size:16px;
	margin-right:10px;
	color:#9a9999;
	float:left;
}
.pagination-style{
	float:left;
	margin:0px 0px 0px 8px;
	padding:0px;
	list-style-type:none;
}
.pagination-style ul{
	margin:0px; 
	padding:0px; 
	list-style-type:none; 
	position:relative;
	clear:both;	
}
.pagination-style li{	
	list-style-type:none; 
	padding:0px; 
	margin:0px; 
	float:left;
	z-index:100; 
	position:relative;
}
.pagination-style li a{
	font-size:16px;
	text-decoration:none;
	color:#a6a6a6; 
	display:block;
	margin:0px;
	padding-right:24px;
	float:left;
	z-index:100;	
}
.pagination-style li a:hover{
	color:#4a4f54; text-decoration:none;
	float:left;	
}
.pagination-style li.current-page a{
	text-decoration:none;
	color:#4a4f54;
}

/* Ads list */
ul.ads-list{
	width:260px;
	margin:0px 0px 10px 0px; 
	padding:0px; 
	list-style-type:none;
}
ul.ads-list li{
	width:260px;
	margin:0px;
	float:left;
}


/* Contact
------------------------------------------------------*/
form{
	margin:0; 
	padding:0;
}
#contactFormArea{
	width:406px;
	margin:49px 0px 0px 86px;  
}
label{
	margin-bottom:3px;
}
.input{
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(border-radius.htc);
	border:2px solid #ebebeb;
	font-family:Tahoma, Arial, verdana;
	font-size:12px; 
	width:406px; 
	padding:7px 5px; 
	margin:0px; 
	color:#939393;
}
.input-submit{
	background-image:url(../images/send-now.gif); 
	background-repeat:no-repeat; 
	padding:0px; margin:0px; 
	border:0px; 
	width:97px; 
	height:33px; 
	cursor:pointer; 
	float:right; 
	margin-top:10px;
}
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
.input-submit{
	background-image:url(../images/send-now.gif); 
	background-repeat:no-repeat; 
	padding:0px; margin:0px; 
	border:0px; 
	width:97px; 
	height:33px; 
	cursor:pointer; 
	float:left; 
	margin:10px 0px 0px 323px;
}
}
.textarea{
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(border-radius.htc);
	border:2px solid #ebebeb;
	font-family:Tahoma, Arial, verdana;
	font-size:12px;
	overflow:hidden;
	width:406px; 
	padding:6px 5px; 
	margin:0px; 
	color:#939393;
}
#loadBar{	
	color:#797979;
	position:absolute;
	margin-left:43px;
	top:595px;
	z-index:100;
}
#emailSuccess{
	color:#797979;
	position:absolute;
	margin-left:86px;
	top:595px;
	z-index:100;
}
.loading-text{
	font-weight:bold;
	margin-left:43px;
	float:left;
}
.loading-form{
	width:128px;
	height:15px;
	background-image:url(../images/loading-contact.gif);
	background-repeat:no-repeat;
	margin:3px 0px 0px 14px;
	float:left;
}
.map{
	background-color:#ebebeb;
	margin:0px;
	padding:12px;
	float:left;
}

.contact-separator{
	width:52px;
	height:398px;
	margin-top:49px;
	background-image:url(../images/dot-separator.png);
	background-position:right;
	background-repeat:repeat-y;
	float:left;
}
#contact-left{
	width:395px;
	float:left;
}
#contact-right{
	width:513px;
	float:left;
}


/* Footer
------------------------------------------------------*/
#footer-content{
	width:960px;
	height:263px;
	background-image:url(../images/footer-glow.png);
	background-repeat:no-repeat;
	background-position:top center;
	margin:0px auto;
}
#footer-address{
	width:273px;
	margin-top:28px;
	float:left;
}
#footer-address img{
	margin-bottom:10px;
}
#footer-last{
	width:960px;
	margin-top:36px;
	border-top:2px solid #979696;
	float:left;
}

/* Footer News list */
#footer-news{
	width:460px;
	margin-top:28px;
	float:right;
}
#footer-news h3{
	margin-bottom:7px;
	color:#e3e3e3;
}
ul.list-bottom{
	margin:0px; 
	padding:0px; 
	list-style-type:none;
}
ul.list-bottom li{
	background-image:url(../images/bottom-dot.png);
	background-position:bottom;
	background-repeat:repeat-x;
	padding-bottom:4px;
	line-height:26px;
}
ul.list-bottom li a{
	color:#a6a6a6;
	text-decoration:none;
}
ul.list-bottom li a:hover{
	text-decoration:underline;
}
#footer-copyright{
	font-size:11px;
	margin-top:10px;
	float:right;
}

/* footermenu Styling */
#footer-menu{
	width:500px;
	margin:0px;
	padding:0px;
	float:left;	
}
.navigation-footer{
	width:543px;
	float:left;
	margin:9px 0px 0px 0px;
	padding:0px;
	list-style-type:none;
}
.navigation-footer ul{
	margin:0px; 
	padding:0px; 
	list-style-type:none; 
	position:relative;
	clear:both;	
}
.navigation-footer li{	
	list-style-type:none; 
	padding:0px; 
	margin:0px; 
	float:left;
	z-index:100; 
	position:relative;
}
.navigation-footer li a{
	font-size:11px;
	text-decoration:none;
	color:#a6a6a6; 
	display:block;
	margin:0px;
	padding-right:24px;
	float:left;
	z-index:100;	
}
.navigation-footer li.current a, .navigation-footer li a:hover, .navigation-footer li.current li a:hover{
	text-decoration:none;
	color: #a6a6a6;	
}
.navigation-footer li.current li a{
	text-decoration:none;
	color:#a6a6a6;
}